.CardItem {
    display: flex;
    flex-direction: column;
    background-color: rgb(105 96 96 / 90%);
    width: 60%;
    align-items: center;
    padding: 20px;
    text-align: center;
    

}

.Header{
    background-color: rgb(57, 53, 53);
    color: aliceblue;
    width: auto;
}

.ButtonLink {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ButtonLink:hover {
    background-color: #ddd;
  }
  
  .ButtonLink:active {
    background-color: #bbb;
  }
  
  .ItemImagen{
    margin: 20px;
  }

  p{
    font-size: 2rem;
    color: white;
  }

  #stock{
    color:rgba(94, 171, 207, 0.9)
  }

  #precio{
    font-size: 3rem;
    color: blue;
  }

  .ItemHeader{
    padding: 10px;
    font-size: 3rem;
  }