@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unna:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-decoration: dotted;
  text-align: center;
  font-size: 1.8em;
  font-family: "Bebas Neue", cursive;
  color: rgb(72, 51, 194);
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;

}

.Carga{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}