.Counter{
    display: flex;
    flex-direction: column;

}

.Controls{
    display: flex;
    justify-content: space-evenly
}

.Icon {
    width: 40px;
    height: 40px;
  }

  .Counter .Controls .Button {
    background-color: transparent;
    border: none;
  }

  h3{
    color:rgb(14, 46, 91);
    font-size: 4rem;
    margin-left: 25px;
    margin-right: 25px;
  }
