#carouselExampleCaptions {
    width: 24vw;
    height: auto;
  }
  
  .carousel-inner img {
    height: 100%;
    object-fit: contain;
    width: auto;
  }

#imagenes{
    display: flex;
    height: 86vh;
}

#imagenes img {
  width: auto;
  height: 80vh;
  margin-bottom: 0;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
